.row > div {
  margin-top: 10px;
  padding: 10px;
  outline: 2px solid rgb(53, 55, 56);
  outline-offset: -10px;
  -moz-outline-radius: 10px;
  -webkit-outline-radius: 10px;
}

.head {
  margin: auto;
  height: auto;
  width: 40%;
}
