/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("/assets/bg.jpg");
  // background-color: rgba(209, 238, 238, 0.74);
  background-repeat: no-repeat;
  background-position: bottom right;
  // margin-right: 10px;
  // background-attachment: fixed;
}
